<div class="row-fluid">
  <div id="left-pane" class="span7">
    <div class="content post">
      <h1 class="title">{{ page.title }}</h1>
      {{ page.description }}
      {{ content }}
    {% if page.previous and page.categories == page.previous.categories %}
      <hr>
      <div>
        <a href="{{ BASE_PATH }}{{ page.previous.url }}" class="btn btn-success btn-large">Next Step: {{ page.previous.title }} &rarr;</a>
      </div>
    {% endif %}
    </div>  
  </div>
  <div id="right-pane" class="span5">
    {% include sidebar.html %}
  </div>
</div>