html {
  margin: 0;
  padding: 0;
  border: none;
  background: #222222;
  color: white;
  font-family: "Georgia", "Times New Roman", serif; }

body {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  width: 44em;
  max-width: 90%;
  margin: 2em auto;
  font-size: 1.1em; }

h1 {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 202px;
  background-image: url(/images/lime.png);
  background-position: right top;
  background-repeat: no-repeat;
  font-size: 5.5em;
  font-weight: normal; }
  h1:hover {
    background-position: right bottom; }
  h1 a {
    color: white;
    text-decoration: none; }
    h1 a:hover {
      color: #ebffb4; }
      h1 a:hover span:after {
        color: #ebffb4; }
    h1 a span {
      font-size: 0.01em;
      color: #222222; }
      h1 a span:after {
        content: "dot";
        position: relative;
        bottom: 0.5em;
        padding-left: 0.25em;
        padding-right: 0.5em;
        font-size: 25em;
        color: white; }

nav > ul {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  position: absolute;
  top: 8.75em;
  left: 0; }
  nav > ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  nav > ul li {
    display: block;
    float: left; }
    nav > ul li a {
      margin: 0;
      padding: 0;
      border: none;
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      padding: 0.75em;
      background: #111111;
      font-size: 1.5em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-decoration: none;
      color: white; }
      nav > ul li a:hover, nav > ul li a:active {
        background: #ebffb4;
        color: #222222; }
    nav > ul li:first-child:before, nav > ul li:last-child:after {
      content: "";
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      background: #111111;
      font-size: 1.5em; }
    nav > ul li:first-child:before {
      padding-left: 1em; }
    nav > ul li:last-child:after {
      padding-right: 1em; }

footer > p {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #b3b3b3; }
  footer > p a {
    color: white;
    border-color: white; }
    footer > p a:hover {
      background: white; }

article time {
  display: block;
  margin-top: 2.5em;
  margin-bottom: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
  color: #b3b3b3;
  font-family: "Helvetica Neue", "Helvetica", sans-serif; }
article h2 {
  margin-top: 0; }

h2, h3 {
  color: #c6e567;
  font-family: "Helvetica Neue", "Helvetica", sans-serif; }
  h2 a, h3 a {
    border-bottom: 1px solid #ebffb4;
    color: #ebffb4;
    text-decoration: none; }
    h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus {
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      border-bottom-color: #111111;
      color: #111111;
      background: #ebffb4; }
  h2 a, h3 a {
    color: #c6e567;
    border-bottom-color: #222222; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }
  h3 span {
    display: block;
    font-weight: normal;
    font-size: 0.7em;
    color: #b3b3b3; }

h4 {
  font-family: "Helvetica Neue", "Helvetica", sans-serif; }
  h4 + p {
    padding: 1em;
    background: #111111; }

img {
  display: block;
  margin: 0 auto; }

p {
  line-height: 1.8em;
  margin-bottom: 1.25em; }
  p a {
    border-bottom: 1px solid #ebffb4;
    color: #ebffb4;
    text-decoration: none; }
    p a:hover, p a:focus {
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      border-bottom-color: #111111;
      color: #111111;
      background: #ebffb4; }

ol, ul {
  line-height: 1.8em; }
  ol a, ul a {
    border-bottom: 1px solid #ebffb4;
    color: #ebffb4;
    text-decoration: none; }
    ol a:hover, ol a:focus, ul a:hover, ul a:focus {
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      border-bottom-color: #111111;
      color: #111111;
      background: #ebffb4; }
  ol li, ul li {
    margin-bottom: 0.625em; }
    ol li:last-child, ul li:last-child {
      margin-bottom: 0; }

hr {
  margin: 1.5em 0;
  border-top-color: #111111;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #444444;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left: none;
  border-right: none; }

table {
  width: 100%;
  border-collapse: collapse; }
  table thead tr th {
    text-align: left;
    border-bottom: 1px solid white;
    font-family: "Helvetica Neue", "Helvetica", sans-serif; }
  table th, table td {
    padding: 0.25em 0.5em; }

blockquote {
  padding-left: 1em;
  border-left: 1px solid #b3b3b3;
  color: #b3b3b3;
  font-style: italic;
  font-family: "Helvetica Neue", "Helvetica", sans-serif; }

code {
  font-family: monospace; }

pre {
  padding: 1em;
  overflow: auto;
  background: #111111; }

img#left {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em; }

ul#images {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  padding-top: 0.5em; }
  ul#images:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  ul#images li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em; }

ol#archive {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none; }
  ol#archive li {
    margin-bottom: 0.313em; }
    ol#archive li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    ol#archive li time {
      float: left;
      display: block;
      width: 6em; }
    ol#archive li p {
      margin: 0;
      padding: 0;
      border: none;
      float: right;
      width: 37em; }

div#paginator {
  position: relative; }
  div#paginator a {
    border-bottom: 1px solid #ebffb4;
    color: #ebffb4;
    text-decoration: none; }
    div#paginator a:hover, div#paginator a:focus {
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      border-bottom-color: #111111;
      color: #111111;
      background: #ebffb4; }
  div#paginator:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  div#paginator a {
    position: absolute;
    top: 0; }
    div#paginator a#left {
      left: 0; }
    div#paginator a#right {
      right: 0; }
  div#paginator fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: inline;
    width: 100%;
    text-align: center; }
