<article>
  <time datetime="{{ page.date | xmlschema }}">{{ page.date | date: "%d %b, %Y" }}</time>
  <h2>{{ page.title }}</h2>
  {{ content }}
</article>
<p>If you've read this far, you should <a href="http://twitter.com/tatejohnson">follow me</a> on Twitter.</p>
<hr>
<div id="paginator">
  {% if page.previous %}
    <a id="left" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Older</a>
  {% endif %}
  <form action="http://www.google.com/cse" method="get">
    <fieldset>
      <input type="hidden" name="cx" value="011449214013281158279:ie-gceh3d90" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="search" name="q" size="31" />
      <input type="submit" name="sa" value="Search" />
    </fieldset>
  </form>
  {% if page.next %}
    <a id="right" href="{{ page.next.url }}" title="{{ page.next.title }}">Newer &rarr;</a>
  {% endif %}
</div>


<hr>
<footer>
  <p>
    <a href="{{ base.url }}/about/">Tate Johnson</a> is a 25 year old software developer living in <a href="http://www.flickr.com/photos/23054854@N06/3319265306/in/set-72157614423917229/">Brisbane, Australia</a>. You can follow me on <a href="http://twitter.com/tatejohnson/">Twitter</a>, explore my photos on <a href="http://flickr.com/tatejohnson/">Flickr</a>, hear what I listen to on <a href="http://last.fm/user/Tatey/">Last.fm</a>, fork my code on <a href="http://github.com/tatey">GitHub</a>, spectate my shots on <a href="http://dribbble.com/tatejohnson">Dribbble</a> or subscribe to my blog's <a href="http://feeds2.feedburner.com/tatejohnson">Atom feed</a>.
  </p>
</footer>

