ul li, ol li {
  color:#404040;
}
h1 {
  margin:20px 0 20px -80px;
}
h2 {
	margin:10px 0 10px -40px;
	border-bottom: 3px solid #A2BF6B;
	border-bottom: 3px solid #CDE59A;
}
h2.title {
  padding:10px 15px;
  border:0;
  margin-top:0;
  text-align:center;
  background:#FEFBF3;
  border-radius:0 0 5px 5px;
}
  
code {
	background:#f5f5f5;
	padding:1px;
	border:1px solid #ccc;
}
pre code {
	padding:0;
	border:0;
	background:transparent;
}
ul li a.active, ol li a.active {
	background:#57A957;
	padding:1px 4px;
	color:#FFF;
	border-radius:3px;
}
#main-content {
}

.container-fluid > .sidebar {
  position:fixed;
  left:0;
  width: 220px;
	height:100%;
  padding:0 10px 20px 40px;
  background:#f4f4f4;
  box-shadow: inset 1px -2px 18px #ccc;
	overflow:auto;
}

.container-fluid > .content {
  
  margin-left: 360px;
}
#main-content {
  padding-bottom:50px;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:1.8em;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	border-radius: 3px;
	border:1px dashed #ccc;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}


/* project-list*/

.project-list {
	list-style:none;
	margin-left: 280px;
	padding:2px 0;
}
.project-list li {
	display:inline;
	margin-right:3px;
}

.project-list li a {
	display:inline;
	padding:4px 8px;
	border-bottom:1px dashed #ccc;
}

.addthis_toolbox {
	position:relative;
	top:10px;
	width:400px;
}